img-title{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.box {
    
    padding: 200px 100px;
    margin:100px
}
body{
    background-image:url("https://wallpapercave.com/wp/wp2440778.jpg");
    height: 100vh;
    position: absolute;
    width: 100%;
    background-size: cover;
    background-color: rgb(148,0,211);

}

